/*--------------------------------
            Collection CSS
---------------------------------*/
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 360px;

    .content-left {
        width: 50%;
        background: #00BBB4;
        padding: 20px 10px 20px 55px;
        height: 100%;

        .breadcrumb-menu {
            li {
                display: inline-block;
                position: relative;
                color: $clr_white;
                padding-right: 18px;
                font-size: 12px;

                &:after {
                    position: absolute;
                    top: 1px;
                    right: 4px;
                    content: "\f3d3";
                    font-family: "Ionicons";
                    font-size: 12px;
                }

                a {
                    color: $clr_white;
                }
            }
        }

        .content-text {
            h3 {
                font-size: 27px;
                line-height: 38px;
                font-family: "Fredoka One";
                color: $clr_white;
                font-weight: 300;
                margin: 50px 0 30px;
            }

            p {
                color: $clr_white;
            }

            .list-details-tab {
                border: none;
                margin: 35px 0 0;

                li {
                    margin: 0 25px 0 0;

                    a {
                        font-size: 14px;
                        font-weight: 600;
                        color: $clr_white;
                        padding: 0 0 3px;
                        border-bottom: 2px solid transparent;
                        transition: 0.3s;

                        &.active {
                            border-color: #CDDE00;
                        }
                    }
                }
            }
        }
    }

    .content-right {
        width: 50%;

        .content-bg {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 360px;
        }
    }
}


.breadcrumb-menu li:last-child:after {
    display: none;
}

.filter-wrap-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s;

    .close-box {
        position: absolute;
        top: -5px;
        right: 18px;
        text-align: right;
        font-size: 30px;
        cursor: pointer;
    }

    .filter-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

       
    }

}
 .filter-box {
            width: 185px;
            margin-right: 20px;

            .nice-select {
                width: 100%;
                border-color: #EFEEE6;
                font-size: 13px;
                color: $clr_black;
                height: 48px;
                border-radius: 4px;
            }
        }
.checkbox_wrap {
    position: relative;
    height: 48px;
    border: 1px solid #EFEEE6;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    color: $clr_black;

    &:after {
        position: absolute;
        top: 16px;
        right: 10px;
        content: "";
        width: 9px;
        height: 9px;
        border-left: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        transform: rotate(-45deg);
        transition: 0.3s;
    }

    ul {
        position: absolute;
        top: 46px;
        left: 0;
        width: 100%;
        border: 1px solid #EFEEE6;
        min-height: 80px;
        z-index: 999;
        background: $clr_white;
        padding: 13px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;

        li {
            display: block;
        }

    }

    .form-group {
        label {
            position: relative;
            cursor: pointer;
            font-size: 15px;
            font-weight: 300;
            text-transform: capitalize;
        }

        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }
    }
}

.checkbox_wrap.open ul {
    visibility: visible;
    opacity: 1;
}

.checkbox_wrap .form-group input:checked+label::before {
    background: #00BBB4;
    border-color: transparent;
}

.checkbox_wrap .form-group label::before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #c2c6c8;
    padding: 6px 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin: -4px 10px 0 0;
    border-radius: 3px;
}

.checkbox_wrap .form-group input:checked+label::after {

    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 10px;
    border: solid $clr_white;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

}



.checkbox_wrap .checkbox_wrap.open ul {
    visibility: visible;
    opacity: 1;
}

.checkbox_wrap.open:after {

    transform: rotate(135deg);
}



.filter-result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 30px;

    p {
        font-size: 14px;
        margin: 0 20px 0 0;
        font-weight: 400;
    }

    .alert-warning {
        color: $clr_black;
        background-color: #EFEEE6;
        border-color: transparent;
        font-weight: 300;
        font-size: 14px;
        margin: 0 20px 0 0;
        padding: 7px 15px 7px 15px;

        button.close {
            padding: 0;
            font-weight: 500;
            color: $clr_black;
            font-size: 14px;
            margin: 12px;
        }
    }

    button.clear-filter {
        background: transparent;
        border: none;
        font-size: 14px;
        text-decoration: underline;
        padding: 0;
    }
}



.sm-filter-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    span {
        width: 45%;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        border: 2px solid #00BBB4;
        display: inline-block;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
    }
}

