/*---------------------------------
        Variable 
-----------------------------------*/
// Font Family
$primary_font_RG: 'Averta-Regular';
$primary_font_SB: 'Averta-SemiBold';
$primary_font_Bl: 'Averta-Bold';
$primary_font_LG: 'Averta-Light';


$clr_black: #333332;
$clr_blue: #3B4CF9;
$clr_white: #fff;
$clr_grey: #7E8299;
$clr_ash:#F0F1FA;


@font-face {
    font-family: 'Averta-Light';
    src: url(../fonts/Averta-Light.otf);
}

@font-face {
    font-family: 'Averta-Regular';
    src: url(../fonts/Averta400.otf);
}

@font-face {
    font-family: 'Averta-Bold';
    src: url(../fonts/Averta-Bold.otf);
}

@font-face {
    font-family: 'Averta-SemiBold';
    src: url(../fonts/Averta-Semibold.otf);
}

/*---------------------------------
            General Styles 
-----------------------------------*/
* {
    box-sizing: border-box;
}

:focus,
button:focus {
    outline: 0;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

a {
    color: $clr_black;
    text-transform: inherit;
    text-decoration: none;
}

a:hover,
a :focus {
    color: $clr_grey;
    text-decoration: none;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    line-height: 1.6;
    font-family: $primary_font_BL;
}

body {
    color: $clr_black;
    font-size: 16px;
    line-height: 21px;
    font-family: $primary_font_RG;
    overflow-x: hidden !important;
}

ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

p {
    line-height: 1.7;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

.text-red {
    color: #FE5E55 !important;
}

/*return-to-top START CSS*/

.back-to-top {
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #4DE2C1;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999;
    border-radius: 50%;
    background: #13171d;

    i {
        color: $clr_white;
    }
}


/*Proloader START CSS*/
.proloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: $clr_white;

    .loader_34 {
        /* Preloader */
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        .ytp-spinner {
            /* Spinner Container */
            position: absolute;
            left: 50%;
            top: 50%;
            width: 64px;
            margin-left: -32px;
            z-index: 18;
            pointer-events: none;

            .ytp-spinner-container {
                pointer-events: none;
                position: absolute;
                width: 100%;
                padding-bottom: 100%;
                top: 50%;
                left: 50%;
                margin-top: -50%;
                margin-left: -50%;
                animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
                -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;

                .ytp-spinner-rotator {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
                    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;

                    .ytp-spinner-left {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        overflow: hidden;
                    }

                    .ytp-spinner-right {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        overflow: hidden;
                        left: 50%;

                    }

                }
            }
        }
    }
}

.loader_34 .ytp-spinner-left {
    /* Position inside Container*/
    right: 50%;
}

.loader_34 .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #42768C #42768C transparent;
    border-radius: 50%;
    border-width: 6px;
}

.loader_34 .ytp-spinner-left {

    .ytp-spinner-circle {
        left: 0;
        right: -100%;
        border-right-color: transparent;
        -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
        animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }
}

.loader_34 .ytp-spinner-right {
    .ytp-spinner-circle {
        left: -100%;
        right: 0;
        border-left-color: transparent;
        -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
        animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }
}


/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    87.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}

.btn {
    &.v1 {
        font-size: 16px;
        line-height: 21px;
        color: #fff;
        background: linear-gradient(90deg, #670bf9 0%, #472eff 35%, #00aef2 100%);
        display: inline-block;
        padding: 8px 21px 10px;
        border: none;
        border-radius: 7px;
        box-shadow: none;
        transition: 0.3s;

        &:hover {
            color: $clr_white;
            background: linear-gradient(90deg, rgba(3, 168, 243, 1) 0%, rgba(47, 89, 251, 1) 35%, rgba(107, 5, 249, 1) 100%);
        }

    }


    &.v2 {
        font-size: 16px;
        line-height: 21px;
        color: #fff;
        background: linear-gradient(90deg, #670bf9 0%, #472eff 35%, #00aef2 100%);
        display: inline-block;
        padding: 8px 21px 10px;
        border: none;
        border-radius: 7px;
        box-shadow: none;
        transition: 0.3s;

        &:hover {
            color: $clr_white;
            background: #00BBB4;
        }
    }

    &.v3 {

        display: block;
        width: 100%;
        background-clip: padding-box;
        position: relative;
        padding: 2px;
        border-radius: 8px;
        background-image: linear-gradient(90deg, rgba(108, 4, 248, 1) 0%, rgba(28, 102, 255, 1) 35%, rgba(23, 194, 238, 1) 100%);
        border: none;
        transition: 0.3s;

        span {
            display: block;
            padding: 10px 21px 10px;
            font-size: 16px;
            line-height: 21px;
            font-family: $primary_font_SB;
            color: $clr_blue;
            background: #F0F1FA;
            border-radius: 5px;
            transition: 0.3s;

        }

        &:hover {
            background-image: none;

            span {
                background-image: linear-gradient(90deg, #7500f3 0%, #531bff 46%, #0097ff 77%, #00f5c5 100%);
                color: #fff;
            }
        }
    }

    &.v4 {

        display: block;
        width: 100%;
        background-clip: padding-box;
        position: relative;
        padding: 2px;
        border-radius: 8px;
        background-image: linear-gradient(90deg, rgba(108, 4, 248, 1) 0%, rgba(28, 102, 255, 1) 35%, rgba(23, 194, 238, 1) 100%);
        transition: 0.3s;

        span {
            display: block;
            padding: 10px 21px 10px;
            font-size: 16px;
            line-height: 21px;
            font-family: $primary_font_SB;
            color: $clr_blue;
            background: #FFF;
            border-radius: 5px;

        }

        &:hover {}
    }

    &.v5 {
        font-size: 16px;
        line-height: 21px;
        color: $clr_blue;
        background: #fff;
        display: inline-block;
        padding: 8px 21px 10px;
        border: none;
        border-radius: 7px;
        box-shadow: none;
        transition: 0.3s;

        &:hover {
            color: $clr_blue;
            background: linear-gradient(90deg, #670bf9 0%, #472eff 35%, #00aef2 100%);
        }
    }

    &.v6 {

        display: block;
        width: 100%;
        background-clip: padding-box;
        position: relative;
        padding: 2px;
        border-radius: 8px;
        background-image: linear-gradient(90deg, rgba(108, 4, 248, 1) 0%, rgba(28, 102, 255, 1) 35%, rgba(23, 194, 238, 1) 100%);
        transition: 0.3s;

        span {
            display: block;
            padding: 10px 21px 10px;
            font-size: 16px;
            line-height: 21px;
            font-family: $primary_font_SB;
            color: $clr_blue;
            background: #FFF;
            border-radius: 5px;

        }

        &:hover {}
    }

    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.submit_btn {
    color: $clr_white;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: 0.3s;
    display: inline-table;
    padding: 10px 38px;
    border-radius: 0;
    background-color: #112941;

    &:hover {

        color: #112941;
        background: transparent;
        border-color: #112941;
    }
}


.link {
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    border-bottom: 3px solid #00BBB4;
    padding: 0 0 5px;
    text-transform: capitalize;

}

.section-title {
    margin: 0 0 50px;
    padding: 60px 0 0;
    text-align: center;

    h2 {
        font-size: 39px;
        line-height: 44px;
        margin: 0 0 5px;
    }

    p {
        font-size: 18px;
        line-height: 27px;

        span {
            font-family: $primary_font_SB;
        }
    }
}

.content-title {
    text-align: center;
    margin: 0 0 50px;

    &.v2 {
        text-align: left;

        h3 {
            margin: 0 0 5px;
        }
    }

    h3 {
        font-size: 39px;
        line-height: 42px;
        margin: 0 0 10px;
    }

    p {
        font-size: 18px;
        line-height: 27px;

        span {
            font-family: $primary_font_SB;
        }
    }
}

.text-blue {
    color: $clr_blue !important;
}

.bg-grey {
    background-color: $clr_ash;
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: $clr_white;
}

.bg-grad {
    background: linear-gradient(90deg, white 0%, #f4f5f8 65%, #f0f1fa00 100%);
}

.bg-grad-v2 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(244, 245, 248, 1) 35%, rgba(240, 241, 250, 1) 100%);
}

.body_overlay {
    position: absolute;
    top: 0px;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.001);
    z-index: -1;
    visibility: hidden;
    opacity: 0;

    &.open {
        visibility: visible;
        opacity: 1;
    }
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-60 {
    padding: 60px 0;
}

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

/*-------------------------------
         Header CSS
-------------------------------*/

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 41px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99;

    .header-left {
        padding-left: 30px;
        width: 49%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .logo {
            width: 20%;
            margin-right: 25px;
        }

        .header-menu {
            width: 75%;

            .main-menu {
                text-align: left;

                ul {
                    li {
                        display: inline-block;


                        a {
                            text-transform: capitalize;
                            position: relative;
                            display: block;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: center;
                            transition: 0.4s;
                            color: $clr_grey;
                            padding: 8px 20px;
                            margin: 0 2px;
                            border-radius: 5px;
                            transition: 0.3s;

                            &.active,
                            &:hover {
                                color: $clr_blue;
                                background-color: $clr_ash
                            }
                        }
                    }
                }
            }
        }
    }

    .header-right {
        width: 49%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

        .header-notification {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            width: 35%;

            .notifi-icon {
                margin: 0 30px;
                position: relative;
                display: inline-block;
                cursor: pointer;

                img {
                    filter: grayscale(37);
                    opacity: 0.8;
                }

                .notif-list {
                    position: absolute;
                    top: 39px;
                    left: -20px;
                    min-width: 300px;
                    background: #fff;
                    box-shadow: 0 13px 13px 1px rgba(209, 210, 218, 0.62);
                    border-radius: 6px;
                    border: 1px solid #ddd;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;
                    z-index: 9;


                    &::before {
                        position: absolute;
                        top: -9px;
                        left: 24px;
                        content: "";
                        background: #fff;
                        width: 16px;
                        height: 16px;
                        border-top: 1px solid #ddd;
                        transform: rotate(-45deg);
                        border-right: 1px solid #ddd;
                    }

                    ul {
                        li {
                            display: block;

                            &:nth-child(even) {
                                a {
                                    background: #EAEBF5;
                                }
                            }

                            a {
                                font-size: 16px;
                                line-height: 18px;
                                display: block;
                                position: relative;
                                padding: 14px 22px 14px 40px;
                                display: block;

                                &::before {
                                    position: absolute;
                                    top: 50%;
                                    left: 17px;
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    background: linear-gradient(90deg, rgb(110, 3, 247) 0%, rgb(72, 41, 255) 35%, rgb(0, 210, 223) 100%);
                                    border-radius: 50%;
                                    transform: translateY(-50%);
                                }

                                span {
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #3F35FF;
                                    font-family:$primary_font_RG;
                                    font-weight: 800;
                                    margin: 0;
                                    display: block;
                                }
                            }
                        }
                    }

                    .view-more {
                        text-align: center;
                        padding: 13px;

                        a {
                            font-size: 14px;
                            color: #3F35FF;
                            display: block;
                            line-height: 1;
                        }
                    }
                }

                &.open {
                    img {
                        filter: grayscale(0);
                        opacity: 1;
                    }

                    .notif-list {
                        visibility: visible;
                        opacity: 1;
                    }

                }
            }

        }


        .client-option {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            background: #F0F1FA;
            width: 65%;
            padding-right: 40px;
            position: relative;

            &::before {
                position: absolute;
                top: -1px;
                left: 0;
                content: "";
                background: #F0F1FA;
                width: 100%;
                z-index: -1;
                height: calc(100% + 3px);
            }

            .client-logo {
                margin-right: 50px;
            }

            .client-menu {
                position: relative;

                h6 {
                    font-size: 16px;
                    line-height: 18px;
                    font-family: $primary_font_BL;
                    display: block;
                    position: relative;
                    padding-right: 10px;
                    cursor: pointer;
                    margin: 0;


                }

                &::after {
                    position: absolute;
                    top: 4px;
                    right: -4px;
                    content: "";
                    background: transparent;
                    width: 8px;
                    height: 8px;
                    border-left: 2px solid #3F35FF;
                    border-bottom: 2px solid #3F35FF;
                    transform: rotate(-45deg);
                }



                &.open {
                    ul {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                span {
                    font-size: 16px;
                    line-height: 21px;
                    color: #7E8299;
                    display: block;
                }

                ul {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    background: #fff;
                    min-width: 100%;
                    border: 1px solid #DCDEEF;
                    border-radius: 5px;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;

                    &::before {
                        position: absolute;
                        top: -9px;
                        left: 24px;
                        content: "";
                        background: #fff;
                        width: 16px;
                        height: 16px;
                        border-top: 1px solid #ddd;
                        transform: rotate(-45deg);
                        border-right: 1px solid #ddd;
                    }


                    li {
                        &:nth-child(even) {
                            a {
                                background: #EAEBF5;
                            }
                        }

                        a {
                            display: block;
                            padding: 12px 19px;
                            font-size: 12px;
                            line-height: 12px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    .header-left,
    .header-notification,
    .client-option {
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

/*-------------------------------
         Footer CSS
-------------------------------*/
.footer-wrap {
    background: linear-gradient(90deg, rgba(110, 3, 247, 1) 0%, rgba(72, 41, 255, 1) 35%, rgba(0, 210, 223, 1) 100%);
    padding: 32px 0;

    .footer-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

        .copyright {
            width: 45%;
            text-align: right;

            p {
                color: #fff;
                margin: 0;
            }
        }


        .footer-menu {
            width: 50%;
            text-align: left;

            li {
                display: inline-block;
                margin: 0 0 0 25px;

                a {
                    font-size: 15px;
                    line-height: 24px;
                    color: #fff;
                    text-decoration: underline;
                }
            }

        }
    }
}

/*--------------------------------
        Hero CSS
--------------------------------*/
.hero-wrap {
    padding: 36px 0 26px;
    margin: 82px 0 0;
    position: relative;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}
