/*--------------------------------
		Mission CSS
---------------------------------*/
.mission-content {
    h1 {
        font-size: 39px;
        line-height: 40px;
        margin: 0px;
    }

    h6 {
        font-size: 18px;
        line-height: 27px;
        margin: 0;

        span {
            font-family: "Averta-Light";
        }
    }
}

.search-box {
    margin: 35px 0 0;

    label {
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        font-family: "Averta-SemiBold";
        display: block;
        margin: 0 0 10px;
    }

    .form-group {
        position: relative;
        width: 390px;


        input {
            width: 100%;
            height: 52px;
            border-radius: 5px;
            border: 1px solid #DCDEEF;
            font-size: 16px;
            line-height: 33px;
            padding: 10px 10px 10px 20px;
            font-family: "Averta-Light";
        }

        button.search-btn {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background: linear-gradient(90deg, #670bf9 0%, #472eff 35%, #00aef2 100%);
            color: #fff;
            padding: 10px 20px;
            height: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}


.mission-slider-wrap.v3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .mission-slider-item {
        width: 31%;
        margin: 0 1% 25px;
    }
}