/*--------------------------------
            Popular CSS
---------------------------------*/

.popular-wrap {
    position: relative;

    .product-item {
        &.v2 {
            margin: 0 0 50px;
        }

        .prodict-img {
            position: relative;
            margin: 0 0 15px;

            img {
                width: 100%;
            }

            .add-to-wishlist {
                width: 25px;
                height: 25px;
                background: rgba(255, 255, 255, 0.75);
                border-radius: 50%;
                position: absolute;
                top: 15px;
                right: 15px;
                text-align: center;
                display: block;
                cursor: pointer;

                i {
                    color: #FE5E55;
                    line-height: 26px;
                    font-size: 17px;
                }
            }

            .quickview {
                width: 25px;
                height: 25px;
                background: rgba(255, 255, 255, 0.75);
                border-radius: 50%;
                position: absolute;
                top: 48px;
                right: 15px;
                text-align: center;
                display: block;
                cursor: pointer;

                a {
                    span {
                        display: none;
                    }
                }

            }

            .offer {
                position: absolute;
                top: 15px;
                left: 15px;
                display: inline-block;
                padding: 8px 15px;
                font-size: 13px;
                text-transform: capitalize;
                font-weight: 500;
                color: $clr_white;

                &.v1 {
                    background: $clr_black;

                }

                &.v2 {
                    background: #FE5E55;

                }

                &.v3 {
                    background: #CDDE00;
                    color: $clr_black;

                }
            }

        }

        .product-info {
            a {
                font-size: 13px;
                line-height: 19px;
                font-weight: 500;
                margin: 0 0 10px;
                display: block;
            }

            p {
                font-weight: 600;
                margin: 0 0 10px;

                span.discount {
                    color: $clr_gr;
                    text-decoration: line-through;
                    margin: 0 8px 0 0;
                }

                span.disc_perc {
                    color: #FE5E55;
                    text-transform: uppercase;
                    padding-left: 8px;
                    border-left: 2px solid $clr_black;
                    margin: 0 0 0 6px;
                }
            }

            .rating {
                li {
                    display: inline-block;
                    margin: 0 2px;

                    i {
                        color: #ECA300;
                    }
                }
            }
        }
    }
}

.kids-dist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0;
    flex-wrap: wrap;

    p {
        font-size: 16px;
        font-weight: 700;
    }
}


.product-pagination {
    padding: 30px 0;
    text-align: center;

    p {
        i {
            font-size: 20px;
            margin: 0 26px;
            line-height: 20px;
            position: relative;
            top: 2px;
        }
    }
}


.swiper-container.popular-slider {
    padding: 0 0 55px;
}

.swiper-pagination-progressbar {
    background: #EFEFEF;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #CDDE00;
    border-radius: 50px;
}