/*--------------------------------
            Promo CSS
---------------------------------*/
.promo-cat-wrap {
    padding: 80px 0;

    .promo-cat-item-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .single-cat-item {
            width: 49%;

            img {
                width: 100%;
            }

            .single-cat-info {
                text-align: center;
                margin: 23px 0 0;

                h3 {
                    font-size: 27px;
                    font-family: "Fredoka one";
                    font-weight: 300;
                    line-height: 36px;
                    margin: 0 0 30px;
                }
            }

        }
    }
}