// Responsive Variables
$xl_1: 'only screen and (min-width: 1920px)';
$xl_2: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$xl_3: 'only screen and (min-width: 1440px) and (max-width: 1599px)';
$xl_4: 'only screen and (min-width: 1200px) and (max-width: 1439px)';
$xl_5: 'only screen and (min-width: 1400px)';
$xl_6: 'only screen and (min-width: 1200px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1439px)';
$lg_1 : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$lg_2 : 'only screen and (min-width: 992px)';
$lg_3 : 'only screen and (min-width: 1200px)';
$md_1:'only screen and (max-width:991px)';
$md_2:'only screen and (min-width: 768px) and (max-width: 991px)';
$md_3:'only screen and (min-width:768px)';
$sm: 'only screen and (min-width: 320px) and (max-width: 767px)';


@media #{$xl_1} {
    .header-wrap .header-right .client-option {

        width: 55%;
    }
}

@media #{$xl_4} {
    .client-option .client-logo {
        margin-right: 20px;
    }


    .header-notification .notifi-icon {
        margin-left: 16px;
    }
}

@media #{$xl_5} {
    .mission-slider-wrap.v1,
    .mission-slider-wrap.v2 {
        margin-left: calc((100% - 1320px) / 2 + 15px) !important;

    }

    .filter-btn-wrap,
    .create-mission-wrap {
        max-width: 1320px;
    }
}

@media #{$xl_6} {
    .mission-slider-wrap {
        margin-left: calc((100% - 1140px) / 2 + 15px);
    }

    .filter-btn-wrap,
    .create-mission-wrap {
        max-width: 1140px;
    }
}

@media #{$xl_1} {
    .hero-slide-img {
        height: 750px;
    }

    .gallery-item:nth-child(1) .gal-img:first-child,
    .gallery-item:nth-child(3) .gal-img:first-child,
    .gallery-item:nth-child(1) .gal-img:last-child,
    .gallery-item:nth-child(3) .gal-img:last-child {
        height: 420px;
    }

    .gallery-item:nth-child(2) .gal-img {
        height: 855px;
    }
}


@media #{$xl_2} {
    .hero-slide-img {
        height: 750px;
    }
}

@media #{$xl_3} {
    .hero-slide-img {
        height: 750px;
    }

    .gallery-item:nth-child(1) img,
    .gallery-item:nth-child(3) img {
        margin: 0 0 17px;
    }

    .popular-wrap .product-item .product-info p {
        font-size: 14px;
    }
}

@media #{$lg_1} {
    .filter-btn-wrap {
        max-width: 960px;
    }

    .client-option .client-logo img {
        max-width: 100px;
    }

    .header-wrap .header-right .client-option .client-menu,
    .header-wrap .header-right .client-option .client-menu span {
        font-size: 12px;

    }

    .header-notification a.btn.v1 {
        font-size: 13px;
        padding: 8px 14px 10px;
    }

    .header-wrap .header-right .client-option {

        width: 60%;
        padding-right: 20px;
    }

    .header-wrap .header-right .client-option .client-logo {
        margin-right: 20px;
    }

    .header-wrap .header-right .header-notification {
        width: 40%;
    }

    .header-wrap .header-right .header-notification .notifi-icon {
        position: relative;
        margin: 0 10px;
    }

    .header-wrap .header-left .logo {
        margin-right: 20px;
    }

    .header-wrap .header-left .header-menu .main-menu ul li a {
        font-size: 12px;
        padding: 5px 7px 7px;
        margin: 0 2px;
    }
}

@media #{$laptop} {
    .client-option .client-logo img {
        max-width: 140px;
    }

    .header-wrap .header-right .header-notification .notifi-icon {
        margin: 0 20px;
    }

    // .hero-slide-img {
    //     height: 650px;
    // }

    // .hero-slide-text h1 {
    //     font-family: "Fredoka One";
    //     color: $clr_white;
    //     font-size: 40px;
    //     line-height: 1.5;
    //     font-weight: 700;
    // }

    // .content-wrapper .content-left .content-text .list-details-tab li {
    //     margin: 0 18px 0 0;
    // }

    // .content-wrapper .content-left .content-text .list-details-tab li a {
    //     font-size: 13px;
    // }

    // .popular-wrap .product-item .product-info p {
    //     font-size: 13px;
    // }
}




@media #{$lg_3} {}

@media #{$lg_2} {


    .lg-none {
        display: none !important;
    }






}

@media #{$md_1} {
    .mb-none {
        display: none !important;
    }


    .hamburger-menu {
        display: inline-block;
        z-index: 999;
        position: relative;
        cursor: pointer;
        width: 30%;
        text-align: right;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background: #000;
            margin: 4px;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .hamburger-menu.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 5px);
    }



    .hamburger-menu.open span:nth-child(2) {
        display: none;
    }

    .hamburger-menu.open span:nth-child(3) {
        transform: rotate(45deg);
    }

    .header-wrap {
        .header-left {
            .header-menu {
                .main-menu {
                    ul {
                        width: 100%;
                        position: absolute;
                        top: 50px;
                        left: 0;
                        padding: 100px 0px;
                        background-color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s;
                        overflow: hidden;

                        li {
                            display: block;
                            text-align: center;

                            a {
                                display: block;
                                font-size: 30px;
                                padding: 20px 0;
                            }
                        }
                    }

                    &.open {
                        ul {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }



    .header-wrap .header-right .client-option .client-menu::after,
    .header-wrap .header-right .client-option::before {
        display: none;
    }

    .header-wrap .header-right .client-option {
        background: transparent;
    }

    .header-wrap .header-right .client-option {
        width: 30%;
    }


}

@media #{$lg_1} {}


/* MD Device :768px. */

@media #{$md_3} {}

/* Extra small Device. */

@media #{$md_2} {}

@media #{$sm} {
    .xpx-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .xs-none {
        display: none;
    }

    .xs-block {
        display: block;
    }

    .page_wrapper {
        overflow-x: hidden !important;
    }




}