// Responsive Variables
$xl_1: 'only screen and (min-width: 1920px)';
$xl_2: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$xl_3: 'only screen and (min-width: 1440px) and (max-width: 1599px)';
$xl_4: 'only screen and (min-width: 1200px) and (max-width: 1360px)';
$xl_5: 'only screen and (min-width: 1400px)';
$xl_6: 'only screen and (min-width: 1200px)';
$xl_7: 'only screen and (max-width: 1199px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1439px)';
$lg_1: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$lg_2: 'only screen and (min-width: 992px)';
$lg_3: 'only screen and (min-width: 1200px)';
$md_1: 'only screen and (max-width:991px)';
$md_2: 'only screen and (min-width: 768px) and (max-width: 991px)';
$md_3: 'only screen and (min-width:768px)';
$sm: 'only screen and (min-width: 320px) and (max-width: 767px)';


@media #{$xl_1} {
    .header-wrap .header-right .client-option {

        width: 55%;
    }
}

@media #{$xl_2} {
    .brief-wrap .shape-nine {
        right: -22%;
    }
}

@media #{$xl_3} {
    .brief-wrap .shape-nine {
        right: -30%;
    }

    .header-wrap .header-left .header-menu .main-menu ul li a {
        font-size: 14px;
        padding: 8px 16px;
        margin: 0;
    }

    .header-wrap .header-right .header-notification .notifi-icon {
        margin: 0 24px;
    }
}

@media #{$xl_4} {
    .header-wrap .header-left .header-menu .main-menu ul li a {
        font-size: 12px;
        padding: 5px 7px 7px;
        margin: 0 2px;
    }

    .header-wrap .header-right .client-option .client-menu h6 {
        font-size: 13px;
    }

    .header-wrap .header-right .header-notification .notifi-icon {
        margin: 0 14px;
    }

    .header-wrap .header-right .client-option {
        width: 60%;
    }

    .header-wrap .header-right .header-notification {

        width: 40%;
    }
}


@media #{$xl_5} {

    // .mission-slider-wrap.v1,
    // .mission-slider-wrap.v2 {
    //     margin-left: calc((100% - 1320px) / 2 + 15px) !important;

    // }

    .filter-btn-wrap,
    .create-mission-wrap {
        max-width: 1170px;
    }
}

@media #{$xl_6} {
    .mission-slider-wrap {
        margin-left: calc((100% - 1170px) / 2 + 15px);
    }

    .filter-btn-wrap,
    .create-mission-wrap {
        max-width: 1140px;
    }
}

@media #{$xl_7} {
    .shape-nine {
        display: none;
    }

    .client-menu {
        &.open {
            ul {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .notifi-icon {
        &.open {
            img {
                filter: grayscale(0);
                opacity: 1;
            }

            .notif-list {
                visibility: visible;
                opacity: 1;
            }
        }

    }
}




@media #{$lg_1} {
    .header-wrap .header-left {
        padding-left: 18px;
        width: 50%;
    }

    .hero-wrap {
        margin: 79px 0 0;
    }

    .filter-btn-wrap {
        max-width: 960px;
    }

    .client-option .client-logo img {
        max-width: 100px;
    }

    .header-wrap .header-right .client-option .client-menu,
    .header-wrap .header-right .client-option .client-menu span {
        font-size: 12px;

    }

    .header-notification a.btn.v1 {
        font-size: 13px;
        padding: 8px 14px 10px;
    }

    .header-wrap .header-right .client-option {

        width: 60%;
        padding-right: 20px;
    }

    .header-wrap .header-right .client-option .client-logo {
        margin-right: 20px;
    }

    .header-wrap .header-right .header-notification {
        width: 40%;
    }

    .header-wrap .header-right .header-notification .notifi-icon {
        position: relative;
        margin: 0 10px;
    }

    .header-wrap .header-left .logo {
        margin-right: 20px;
    }

    .header-wrap .header-left .header-menu .main-menu ul li a {
        font-size: 12px;
        padding: 5px 7px 7px;
        margin: 0 2px;
    }

    .header-wrap .header-right .client-option .client-menu h6 {
        font-size: 13px;
    }

    .mission-summary .mission-sum-item h3 {
        font-size: 26px;
    }

    .mission-summary .mission-sum-item .sum-info .sum-info-left h6,
    .mission-summary .mission-sum-item .sum-info .sum-info-right p,
    .mission-summary .mission-sum-item .sum-info .sum-info-right h6 {
        font-size: 14px;
    }

    .footer-wrap .footer-right .footer-menu li {
        margin: 0 0 0 18px;
    }

    .content-title h3 {
        font-size: 30px;
        line-height: 34px;
    }

    .sidebar-list li {

        font-size: 14px;
    }

}

@media #{$laptop} {
    .client-option .client-logo img {
        max-width: 140px;
    }

    .header-wrap .header-right .header-notification .notifi-icon {
        margin: 0 20px;
    }

    .header-wrap .header-right .client-option .client-logo {
        margin-right: 38px;
    }


    .header-notification .notifi-icon {
        margin-left: 16px;
    }

    .brief-wrap .shape-nine {
        right: -40%;
    }

    .header-wrap .header-left .header-menu .main-menu ul li a {
        font-size: 14px;
        padding: 8px 12px;
        margin: 0;
    }

    .header-wrap .header-right .header-notification .notifi-icon {
        margin: 0 20px;
    }
}




@media #{$lg_3} {}

@media #{$lg_2} {


    .lg-none {
        display: none !important;
    }






}

@media #{$md_1} {
    .mb-none {
        display: none !important;
    }


    .hamburger-menu {
        display: inline-block;
        z-index: 999;
        position: relative;
        cursor: pointer;
        width: 40px;
        padding: 0 5px;
        text-align: right;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background: #000;
            margin: 4px;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .hamburger-menu.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }



    .hamburger-menu.open span:nth-child(2) {
        display: none;
    }

    .hamburger-menu.open span:nth-child(3) {
        transform: rotate(45deg);
    }

    .header-wrap {
        .header-left {
            .header-menu {
                .main-menu {
                    ul {
                        width: 100%;
                        height: 100vh;
                        position: absolute;
                        top: 63px;
                        left: 0;
                        padding: 100px 0px;
                        background-color: #fff;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s;
                        overflow: hidden;

                        li {
                            display: block;
                            text-align: center;

                            a {
                                display: block;
                                font-size: 30px;
                                padding: 20px 0;
                            }
                        }
                    }

                    &.open {
                        ul {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .header-right {
            padding-right: 15px;
        }
    }

    .header-wrap .header-left {
        padding-left: 15px;
        width: 40%;

    }

    .header-wrap .header-left,
    .header-wrap .header-notification,
    .header-wrap .client-option {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header-wrap .header-right .client-option .client-menu::after,
    .header-wrap .header-right .client-option::before {
        display: none;
    }

    .header-wrap .header-right .client-option {
        width: auto;
        background: transparent;
        padding: 0 15px;
    }

    .header-wrap .header-right .header-notification,
    .header-wrap .header-left .logo {
        width: auto;
    }

    .header-wrap .header-right .header-notification .notifi-icon {
        padding: 0 15px;
        margin: 0;
    }

    .header-wrap .header-right .header-notification .notifi-icon .notif-list {
        right: 0;
        left: auto;
    }

    .header-wrap .header-right .header-notification .notifi-icon .notif-list::before {
        right: 17px;
        left: auto;

    }

    .header-wrap .header-right .client-option .client-menu.open ul {
        right: -14px;
        left: auto;
        top: 43px;
    }

    .header-wrap .header-right .client-option .client-menu ul::before {
        right: 17px;
        left: auto;
    }

    .header-wrap .header-right .client-option .client-menu i {
        font-size: 20px;
    }



    .hero-wrap {
        margin: 65px 0 0;
    }

    .hero-content,
    .mission-content {
        margin: 0 0 40px;
    }

    .hero-content h2,
    .mission-content h2 {
        font-size: 23px;
        line-height: 30px;
    }

    .step-wrap {
        max-width: 100%;
    }

    .mission-summary .mission-sum-item {
        width: 100%;
        padding-right: 0;
        border-right: none;
        margin: 0 0 30px;
    }

    .required-soft .required-soft-item {
        width: 100%;
        min-height: auto;
        padding: 40px 0 40px;
    }

    .required-soft-item .soft-list li {
        padding: 0 20px;
    }

    .footer-logo {
        text-align: center;
        margin: 0 0 15px;
    }

    .footer-wrap .footer-right .copyright,
    .footer-wrap .footer-right .footer-menu {
        width: 100%;
        margin: 0 0 10px;
        text-align: center;
    }

    .brief-sidebar {
        margin: 30px 0 0;
    }

    .delivery-wrap h2 {
        font-size: 34px;
        line-height: 36px;
    }

    .delivery-wrap h4 {
        font-size: 24px;
        line-height: 34px;
    }

    .delivery-note {
        padding: 15px 25px;

        max-width: 100%;
    }

    .deliver-option .btn.v4 span {
        padding: 10px 10px 10px;
        font-size: 12px;
        line-height: 21px;
    }

    .deliver-option .btn.v1 {
        font-size: 12px;
        line-height: 21px;
        padding: 12px 10px 12px;
    }

    .create-mission-wrap {

        padding: 32px 5% 60px;
    }

    .create-mission-box a.btn.v1,
    .mission-agent-contact h5,
    .mission-agent-contact a {
        font-size: 12px;
    }

    .create-mission-agent {
        padding: 20px 15px;
    }

    .mission-agent-contact {
        width: calc(100% - 90px);
        text-align: left;
    }

    .mission-agent-img img {
        width: 60px;
        height: 60px;
    }

    .cta-wrap .container .cta-text {
        margin: 50px 0 30px;
        text-align: center;
    }

    .support-info {
        background: transparent;
        text-align: center;
        padding: 0px 0 40px;
    }

    .cta-wrap .container .cta-text .shape-one {
        display: none;
    }

    .btn.v5 {
        font-size: 14px;
        padding: 8px 15px 10px;
    }

    .cta-wrap .container .cta-text h3 {
        font-size: 22px;
        line-height: 27px;
    }

    .search-box .form-group {
        width: 100%;
    }
}

@media #{$lg_1} {}


/* MD Device :768px. */

@media #{$md_3} {
    .md-none {
        display: none !important;
    }
}

/* Extra small Device. */

@media #{$md_2} {
    .content-wrap {
        margin: 75px 0 0;
    }

    .deliver-item-wrap .delivery-item,
    .user-mission-area .user-mission-wrap .user-mission-item.v1,
    .user-mission-area .user-mission-wrap .user-mission-item {
        width: 48%;
    }

    .user-mission-area .user-mission-wrap .user-mission-item {
        margin: 0 1% 15px
    }

    .filter-area .filter-item-wrap .filter-item,
    .filter-area .filter-item-wrap .filter-item:last-child,
    .mission-slider-wrap.v6 .mission-slider-item {
        width: 48.5%;
        margin: 0 0 20px;
    }

    .mission-slider-wrap.v6 {
        justify-content: space-between;
    }
}

@media #{$sm} {
    .xpx-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .xs-none {
        display: none !important;
    }

    .xs-block {
        display: block;
    }

    .page_wrapper {
        overflow-x: hidden !important;
    }

    .content-wrap {
        margin: 65px 0 0;
    }

    .back-btn {
        margin: 0 0 20px;
    }

    .header-wrap .header-right .header-notification .notifi-icon .notif-list {
        right: -50px;
        left: auto;
        top: 45px;
    }

    .header-wrap .header-right .header-notification .notifi-icon .notif-list::before {
        right: 65px;
        left: auto;
        top: -9px;
    }

    .tab-area .nav.nav-tabs {

        flex-direction: row;
        justify-content: center;
    }


    .tab-area .nav.nav-tabs .nav-item {
        text-align: left;
        margin: 0 0 15px;

    }

    .tab-area .nav.nav-tabs .nav-item {
        width: 50%;
        text-align: center;

    }

    // .tab-area .nav.nav-tabs .nav-item:nth-child(2) {
    //     width: 40%;

    // }

    // .tab-area .nav.nav-tabs .nav-item:nth-child(3) {
    //     width: 60%;

    // }

    // .tab-area .nav.nav-tabs .nav-item:nth-child(4) {
    //     width: 40%;

    // }

    .tab-area .nav.nav-tabs li a {
        font-size: 14px;
        margin: 0 10px;
    }

    .brief-para {
        padding: 30px 10px;
        border: 10px solid #F0F1FA;
    }

    .delivery-note .delivery-note-left,
    .delivery-note .delivery-note-right,
    .brief-para .btn.v1,
    .deliver-item-wrap .delivery-item,
    .deliver-option .btn,
    .user-mission-area .user-mission-wrap .user-mission-item.v1,
    .user-mission-area .user-mission-wrap .user-mission-item,
    .mission-slider-wrap.v6 .mission-slider-item {
        width: 100%;
    }

    .deliver-option .btn {
        margin: 0 0 10px;
    }

    .content-title h3 {
        font-size: 30px;
        line-height: 34px;
    }

    .chat-item .chat-img {
        margin: 0
    }

    .chat-info-wrap {
        width: calc(100% - 75px);
        margin-right: 15px;
    }

    .chat-item .chat-name,
    .chat-item .chat-msg p {
        font-size: 14px;
        line-height: 20px;
    }

    .chat-item.two {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .chat-field .search-box .form-group button {
        padding: 10px 20px !important;
        font-size: 13px !important;
    }

    .delivery-note .delivery-note-right {
        margin: 10px 0 0;
    }

    .create-mission-right {
        width: 100% !important;
        text-align: center;
    }

    .create-mission-wrap .create-mission-left {
        width: 100%;
        order: 2;
        margin: 25px 0 0;
        text-align: left !important;

    }

    .create-mission-wrap .create-mission-left .create-mission-box,
    .create-mission-wrap .create-mission-left .create-mission-box-wrap {
        min-height: 350px !important;
        overflow: hidden;
    }

    .filter-area .filter-item-wrap .filter-item,
    .filter-area .filter-item-wrap .filter-item:last-child {
        width: 100%;
        margin: 0 0 20px;
    }

    .mission-slider-wrap.v1::after,
    .mission-slider-wrap.v2::after {
        display: none;
    }

    .loading-content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .loading-content h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .filter-btn a,
    .filter-btn.v2 a {
        margin: 0 0 10px !important;
    }

    .section-title h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .invite-popup h3 {
        font-size: 23px;
        line-height: 28px;
    }

    .invite-popup .user-mission-item.v1 {

        width: calc(100% - 43px);
        top: 64%;
    }

    .invite-popup .user-mission-item.v1 .user-mission-invite h4 {
        font-size: 18px;
        line-height: 24px;
    }

    .invite-popup .user-mission-item.v1 .user-mission-invite .btn.v1 {
        font-size: 12px;
        line-height: 21px;
        padding: 8px 25px 10px;
    }

    .slick-dots li button::before {
        width: 15px;
        height: 15px;
        content: '';
        opacity: .25;
        color: black;
        background: linear-gradient(90deg, #6e03f7 0%, #4829ff 35%, #00d2df 100%);
        border-radius: 50%;
    }

    .mission-slider-one.slick-dotted.slick-slider,
    .mission-slider-two.slick-dotted.slick-slider {
        margin-bottom: 50px;
    }
}