
// Font Family
$primary_font:  'Montserrat', sans-serif;
$secondary_font: "Fredoka One";


$clr_black: #333332;
$clr_gr: #949494;
$clr_red: #010101;
$clr_white: #fff;
$clr_mt: #D6A07E;

// Responsive Variables
$xl_1: 'only screen and (min-width: 1920px)';
$xl_2: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$xl_3: 'only screen and (min-width: 1440px) and (max-width: 1599px)';
$xl_4: 'only screen and (min-width: 1280px) and (max-width: 1359px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1439px)';
$lg_1 : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$lg_2 : 'only screen and (min-width: 992px)';
$lg_3 : 'only screen and (min-width: 1200px) ';
$md_1:'only screen and (max-width:991px)';
$md_2:'only screen and (min-width: 768px) and (max-width: 991px)';
$md_3:'only screen and (min-width:768px)';
$sm: 'only screen and (min-width: 320px) and (max-width: 767px)';


