/* Error: Undefined variable.
 *    ,
 * 90 |     font-family: $primary_font_BL;
 *    |                  ^^^^^^^^^^^^^^^^
 *    '
 *   e:\codeminar\sagyoo-dashboard\assets\scss\_general.scss 90:18  @import
 *   e:\codeminar\sagyoo-dashboard\assets\scss\style.scss 1:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 90 \2502      font-family: $primary_font_BL;\d\a    \2502                   ^^^^^^^^^^^^^^^^\a    \2575 \a   e:\\codeminar\\sagyoo-dashboard\\assets\\scss\\_general.scss 90:18  @import\a   e:\\codeminar\\sagyoo-dashboard\\assets\\scss\\style.scss 1:9       root stylesheet";
}
